annotated-types==0.6.0
anyio==4.2.0
appdirs==1.4.4
astor==0.8.1
attrdict==2.0.1
Babel==2.11.0
bce-python-sdk==0.8.74
beautifulsoup4==4.11.1
black==21.7b0
blinker==1.7.0
cachecontrol==0.14.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.16.0
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.6
cryptography==42.0.5
cssselect==1.2.0
cssutils==2.6.0
cycler==0.11.0
Cython==3.0.8
cython-bbox==0.1.5
decorator==5.1.1
dill==0.3.6
easy-paddle-ocr==0.0.3
et-xmlfile==1.1.0
exceptiongroup==1.2.0
fastapi==0.110.0
filelock==3.13.1
fire==0.5.0
firebase-admin==6.5.0
Flask==2.2.2
Flask-Babel==2.0.0
fonttools==4.38.0
fsspec==2023.12.2
future==0.18.2
gcloud==0.17.0
google-api-core==2.18.0
google-api-python-client==2.124.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.15.0
google-cloud-storage==2.16.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.14.0
httpcore==1.0.2
httplib2==0.22.0
httpx==0.26.0
idna==3.4
imageio==2.23.0
imgaug==0.4.0
importlib-metadata==7.0.1
importlib-resources==6.1.1
isort==5.9.2
itsdangerous==2.1.2
Jinja2==3.1.2
joblib==1.3.2
jws==0.1.3
kiwisolver==1.4.4
lanms-neo==1.0.2
lap==0.4.0
lazy-loader==0.3
lmdb==1.4.0
lxml==4.9.2
MarkupSafe==2.1.1
matplotlib==3.6.2
mpmath==1.3.0
msgpack==1.0.8
multiprocess==0.70.14
mypy-extensions==0.4.3
networkx==2.8.8
numpy==1.23.5
oauth2client==3.0.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.9.0.80
openpyxl==3.0.10
opt-einsum==3.3.0
packaging==22.0
paddle-bfloat==0.1.7
paddleocr==2.6.1.1
paddlepaddle==2.4.2
pandas==1.5.2
pathspec==0.10.3
pdf2docx==0.5.6
Pillow==9.3.0
Polygon3==3.0.9.1
premailer==3.10.0
proto-plus==1.23.0
protobuf==4.25.3
psutil==5.9.8
pyasn1==0.6.0
pyasn1-modules==0.4.0
pyclipper==1.3.0.post4
pycparser==2.22
pycryptodome==3.4.3
pydantic==2.6.4
pydantic-core==2.16.3
PyJWT==2.8.0
PyMuPDF==1.20.2
pyparsing==3.0.9
Pyrebase==3.0.27
python-dateutil==2.8.2
python-decouple==3.8
python-docx==0.8.11
python-jwt==2.0.1
pytz==2022.7
PyWavelets==1.4.1
PyYAML==6.0
rapidfuzz==2.13.6
rarfile==4.1
regex==2022.10.31
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.9
scikit-image==0.19.3
scikit-learn==1.4.0
scipy==1.9.3
seaborn==0.13.2
shapely==2.0.0
shutup==0.2.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.3.2.post1
starlette==0.36.3
sympy==1.12
termcolor==2.1.1
threadpoolctl==3.2.0
tifffile==2022.10.10
tomli==1.2.3
torch==1.13.0
torchvision==0.14.0
tqdm==4.64.1
typing-extensions==4.10.0
tzdata==2023.4
uritemplate==4.1.1
urllib3==1.26.13
uvicorn==0.29.0
visualdl==2.4.1
Werkzeug==2.2.2
zipp==3.17.0
